<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{headerlayout}">
<head>
    <meta charset="UTF-8">
    <title>관리자페이지</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
</head>
<body>
<main layout:fragment="content">
    <div class="side-layout">
        <!-- 좌측 사이드바 -->
        <aside class="sidebar">
            <ul>
                <li><a th:href="@{/admin/users}">회원관리</a></li>
                <li><a th:href="@{/admin/movies}">영화 관리</a></li>
                <li><a th:href="@{/admin/screens}">상영관 및 좌석 관리</a></li>
                <li><a th:href="@{/admin/screenings}">상영일정 관리</a></li>
                <li><a th:href="@{/admin/payments}">결제 내역</a></li>
                <li><a th:href="@{/admin/setting}">포인트 적립률 및 리뷰정책</a></li>
            </ul>
        </aside>

        <!-- 오른쪽 컨텐츠 영역 -->
        <section class="page-content">
            <div layout:fragment="adminContent">
                <!-- 각 페이지에서 내용이 들어올 자리 -->
            </div>
        </section>
    </div>
</main>
</body>
</html>
