<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mypage/mypagelayout}">
<head>
    <meta charset="UTF-8">
    <title>회원정보</title>
    <link rel="stylesheet" th:href="@{/css/mypage/profile.css}">
</head>
<body>

<div layout:fragment="mypageContent">
    <h2>회원정보</h2>
    <div class="profile-container">
        <div class="profile-item">
            <span class="label">이름:</span>
            <span class="value" th:text="${userProfile.name}">홍길동</span>
        </div>
        <div class="profile-item">
            <span class="label">가입일:</span>
            <span class="value" th:text="${userProfile.createdAt}">2025-08-30 14:00</span>
        </div>
        <div class="profile-item">
            <span class="label">최근 로그인:</span>
            <span class="value" th:text="${userProfile.currentLoginAt}">2025-08-30 14:30</span>
        </div>
        <div class="profile-item">
            <span class="label">권한:</span>
            <span class="value" th:text="${userProfile.role}">일반 회원</span>
        </div>
        <form th:action="@{/my-page/withdraw}" method="post">
            <button type="submit" class="delete-btn">회원 탈퇴</button>
        </form>
    </div>
</div>

</body>
</html>